<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>De filosofía va la cosa / Blog de filosofía y actualidad</title>
  </head>

  <body>

    <app-navbar [actions] = actions></app-navbar>
    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6 align-self-center">
                <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                  <h1>Bienvenida a <strong>De filosofía va la cosa</strong></h1>
                  <h2>Un espacio para artículos <em>filosóficos</em> y <span>temas de actualidad</span></h2>
                  <p>Explora las profundidades del pensamiento humano. Descubre ideas fascinantes, reflexiones inspiradoras y debates
                    intelectuales que te invitarán a cuestionar el mundo que te rodea. O simplemente, explora mis opiniones y lecturas, que no son tan interesantes, pero por algo has acabado en mi blog.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                  <!-- <img src="assets/images/banner-right-image.png" alt="team meeting"> -->
                  <img ngSrc="assets/images/hero-388.png" srcset="
                      assets/images/hero-388.png 388w,
                      assets/images/hero-776.png 776w,
                      assets/images/hero-1164.png 1164w
                    " sizes="1164px" alt="Placeholder image on landing page that shows confused people" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="about" class="about-us section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-4">
            <div class="left-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <img src="assets/images/about-left-image.png" alt="person graphic">
            </div>
          </div>
          <div class="col-lg-8 align-self-center">
            <div class="services">
              <div class="row">
                <div class="col-lg-6">
                  <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="icon">
                      <img src="assets/images/service-icon-01.png" alt="reporting">
                    </div>
                    <div class="right-text">
                      <h4>Reseñas literarias</h4>
                      <p>Compartimos reseñas detalladas de obras filosóficas, analizando las ideas clave, el estilo del
                        autor
                        y cómo estas obras han influido en el pensamiento filosófico a lo largo de la historia.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                    <div class="icon">
                      <img src="assets/images/service-icon-02.png" alt="">
                    </div>
                    <div class="right-text">
                      <h4>Opinión de actualidad</h4>
                      <p>Compartimos nuestras propias reflexiones filosóficas sobre temas contemporaneos. Queremos que
                        nuestros lectores conozcan
                        nuestra perspectiva única y generen debates interesantes.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                    <div class="icon">
                      <img src="assets/images/service-icon-03.png" alt="">
                    </div>
                    <div class="right-text">
                      <h4>Debates filosóficos</h4>
                      <p>Organizamos debates en los que discutimos temas filosóficos o cuestiones de
                        actualidad desde una perspectiva filosófica.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="blog" class="our-blog section">
      <div class="container" *ngIf="posts">
        <!-- TODO: Margin bottom: 5%-->
        <div class="row">
          <div class="col-lg-8 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
            <div class="section-heading">
              <h2>Echa un ojo a las ultimas <em>publicaciones</em><span> posteadas</span></h2>
            </div>
          </div>
          <div class="col-lg-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
            <div class="top-dec">
              <img src="assets/images/blog-dec.png" alt="Some deco">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
            <div class="left-image" *ngIf="posts[0]">
              <a [routerLink]="['/blogs', posts[0].fields.urlHandler]"><img
                  src="{{posts[0].fields.featuredImage.fields.file.url}}"
                  alt="{{posts[0].fields.featuredImage.fields.title}}"></a>
              <div class="info">
                <div class="inner-content">
                  <ul>
                    <li class="no-list"><i class="fa fa-calendar"></i> {{posts[0].fields.updatedDate | date: 'dd/MM/yyyy'}}</li>
                    <li class="no-list"><i class="fa fa-users"></i> {{posts[0].fields.authorReference.fields.name}}</li>
                    <li class="no-list"><i class="fa fa-folder"></i> {{ posts[0].fields.tags[0]}}</li>
                  </ul>
                  <a [routerLink]="['/blogs', posts[0].fields.urlHandler]">
                    <h4>{{posts[0].fields.tittle}}</h4>
                  </a>
                  <p class="post-content">{{posts[0].fields.summary}}</p>
                  <div>
                    <a class="main-blue-button" [routerLink]="['/blogs', posts[0].fields.urlHandler]">Leer mas</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
            <div class="right-list">
              <ul>
                <li *ngIf="posts[1]">
                  <div class="left-content align-self-center">
                    <span><i class="fa fa-calendar"></i>{{posts[1].fields.updatedDate | date: 'dd/MM/yyyy'}}</span>
                    <a [routerLink]="['/blogs', posts[1].fields.urlHandler]">
                      <h4>{{posts[1].fields.tittle}}</h4>
                    </a>
                    <p class="post-content">{{posts[1].fields.summary}}</p>
                  </div>
                  <div class="right-image">
                    <a [routerLink]="['/blogs', posts[1].fields.urlHandler]"><img
                        src="{{posts[1].fields.featuredImage.fields.file.url}}" alt=""></a>
                  </div>
                </li>
                <li *ngIf="posts[2]">
                  <div class="left-content align-self-center">
                    <span><i class="fa fa-calendar"></i>{{posts[2].fields.updatedDate | date: 'dd/MM/yyyy'}}</span>
                    <a [routerLink]="['/blogs', posts[2].fields.urlHandler]">
                      <h4>{{posts[2].fields.tittle}}</h4>
                    </a>
                    <p class="post-content">{{posts[2].fields.summary}}</p>
                  </div>
                  <div class="right-image">
                    <a [routerLink]="['/blogs', posts[2].fields.urlHandler]"><img
                        src="{{posts[2].fields.featuredImage.fields.file.url}}" alt=""></a>
                  </div>
                </li>
                <li *ngIf="posts[3]">
                  <div class="left-content align-self-center">
                    <span><i class="fa fa-calendar"></i>{{posts[3].fields.updatedDate | date: 'dd/MM/yyyy'}}</span>
                    <a [routerLink]="['/blogs', posts[3].fields.urlHandler]">
                      <h4>{{posts[3].fields.tittle}}</h4>
                    </a>
                    <p class="post-content">{{posts[3].fields.summary}}</p>
                  </div>
                  <div class="right-image">
                    <a [routerLink]="['/blogs', posts[3].fields.urlHandler]"><img
                        src="{{posts[3].fields.featuredImage.fields.file.url}}" alt=""></a>
                  </div>
                </li>
                <li *ngIf="!posts[3]">
                  <div class="left-content align-self-center">
                  </div>
                  <div class="right-image">
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="contact" class="contact-us section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
            <div class="section-heading">
              <h2>¿Quieres darnos tu opinión? Sientete libre de enviar un mensaje</h2>
              <p>Si quieres dar respuesta a alguno de los articulos publicados, colaborar con el blog, o simplemente
                comunicarte con nosotros simplemente usa el formulario aqui a la derecha.</p>
              <!-- <div class="phone-info">
                <h4>Para cualquier otra cosa: <span> <a href="#">javierlapuentegarcia@gmail.com</a></span></h4>
              </div> -->
            </div>
          </div>
          <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
            <form id="contact">
              <div class="row">
                <div class="col-lg-6">
                  <fieldset>
                    <input type="name" name="name" id="name" placeholder="Nombre" autocomplete="on"
                      [formControl]="nameFormControl" [value]="mail.name">
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <input type="text" name="surname" id="surname" placeholder="Apellido" autocomplete="on"
                      [formControl]="surNameFormControl" [value]="mail.surName">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Tu correo"
                      [formControl]="mailFormControl" [value]="mail.email">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" type="text" class="form-control" id="message" placeholder="Mensaje"
                      [formControl]="messageFormControl" [value]="mail.body"></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <!--TODO: Esto era un button, hay que aplicarle los estilos-->
                    <div>
                      <a id="form-submit" class="main-blue-button" (click)="sendMail()">Enviar mensaje</a>
                    </div>
                  </fieldset>
                </div>
              </div>
              <div class="contact-dec">
                <img src="assets/images/contact-decoration.png" alt="">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>

  </body>

</html>
