// @import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
.scroll-to-section {
  cursor: pointer;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.redirection-handler {
  cursor: pointer;
  text-decoration: none;
}
